.navbar
  .navbar-inner
    ul.nav.navbar-static-top
      li
        a(href="#newPresentationDialog", data-toggle="modal")
            i.icon-plus
            |   Create New Presentation


#newPresentationDialog.modal.hide.fade(role="modal", aria-hidden="true", aria-labelledby="newPresentationDialogLabel")
  form.form-horizontal(action="#")
    .modal-header
        button.close(type="button", data-dismiss='modal', aria-hidden='true') x
        h3 New Presentation
    .modal-body
        .control-group
            label.control-label(for="name") Name
            .controls
              input#name(type="text", name="name")
        .control-group
            label.control-label(for="description") Description
            .controls
              textarea#description(row="5", name="description")
    .modal-footer
        button.btn(type="button", data-dismiss='modal', aria-hidden="true") Close
        button.btn(type="reset") Cancel
        button.btn.btn-primary(type="submit", aria-hidden="true") Create Presentation

hr
.row
  .span12
    h2 Available Presentations

.row
  .span3
    #presentationsBox.pptbox
      .presentation
        .title Presentation Name
        .desc Description goes here
        .control
          a.icon(href="#", title="Add a slide in presentation") 
            i.icon-plus &nbsp;

  .span9
    .sldbox
      .slides
        .slide
          h3 Slide 1

        .slide
          h3 Slide 1
