.navbar
  .navbar-inner
    ul.nav.navbar-static-top
      li
        != linkTo('<i class="icon-plus"></i> New presentation', "#")


form#newPresentation.hide(action="#")
  fieldset
    legend New Presentation
    .row
      .span2
        label(for="name") Name
      .span8
        input#name(type="text", name="name")
    .row
      .span2
        label(for="description") Description
      .span8
        input#name(type="text", name="description")
    .row
      .span2
      .span8
        button.btn.btn-primary(type="submit") Create
        button.btn(type="reset") Cancel


hr
.row
  .span12
    h2 Available Presentations

.row
  .span3
    #presentationsBox.pptbox
      .presentation
        .title Presentation Name
        .desc Description goes here
        .control
          a.icon(href="#", title="Add a slide in presentation") 
            i.icon-plus &nbsp;

  .span9
    .sldbox
      .slides
        .slide
          h3 Slide 1

        .slide
          h3 Slide 1
