.navbar
  .navbar-inner
    ul.nav.navbar-static-top
      li
        a(href="#newPresentationDialog", data-toggle="modal")
            i.icon-plus
            |   Create New Presentation


form#newPresentationDialog.form-horizontal.modal.hide.fade(action="#",role="modal", aria-hidden="true", aria-labelledby="newPresentationDialogLabel")
    .modal-header
        button.close(type="button", data-dismiss='modal', aria-hidden='true') x
        h3 New Presentation
    .modal-body
        .control-group
            label.control-label(for="name") Name
            .controls
              input#name(type="text", name="name")
        .control-group
            label.control-label(for="description") Description
            .controls
              textarea#description(rows="5", name="description")
    .modal-footer
        button.btn(type="button", data-dismiss='modal', aria-hidden="true") Close
        button.btn.btn-primary(type="submit", aria-hidden="true") Add Presentation

form#newSlideDialog.modal.hide.fade.form-vertical(role="dialog", aria-labelledby="newSlideDialogLabel", aria-hidden="true")
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3 New Slide
    .modal-body
      .control-group
        label.control-label(for="markup") Markup
        .controls
          textarea#markup(rows="10", name="markup")
    .modal-footer
      button.btn(type="button", data-dismiss='modal') Close
      button.btn.btn-primary(type="submit") Add Slide

#playPresentationDialog.container.modal.hide.fade(role="dialog", aria-labelledby="playPresentationDialogLabel", aria-hidden="true")
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 Play Presentation
  .modal-body
    #myCarousel.carousel.slide
  .modal-footer
    a.btn.close(href='#', data-dismiss='modal') Close


hr
.row
  .span12
    h2 Available Presentations

ul#presentationContainer

script#presentationTemplate(type="text/html")
    .span3
      #presentationsBox.pptbox
        .presentation
          .title <%= name %>
          .desc <%= description %>
          .control
            a.icon.remove(href="#", title="Remove the presentation")
              i.icon-trash &nbsp;
            a.icon.play(href="#playPresentationDialog", title="Play the presentation", data-toggle="modal")
              i.icon-play &nbsp;
            a.icon.add-slide(href="#newSlideDialog", title="Add a slide in presentation", data-toggle="modal")
              i.icon-plus &nbsp;

    .span9
      .sldbox
        ul.slides


script#slideTemplate(type="text/html")
    <%= markup %>
    .control
      a.icon.remove(href="#", title="Remove the presentation")
        i.icon-trash &nbsp;

script#playPresentationTemplate(type="text/html")
    ol.carousel-indicators
    .carousel-inner
      <% _.each(slides,function(item,key){ %>
      .item <%= item.markup %>
      <% }); %>
    a.carousel-control.left(href='#playPresentationDialog', data-slide='prev') ‹
    a.carousel-control.right(href='#playPresentationDialog', data-slide='next') ›