.navbar
  .navbar-inner
    ul.nav.navbar-static-top
      li
        a(href="#addPresentationDialog", title="Create a new presentation", data-toggle="modal") 
          i.icon-plus
          | New presentation

hr
.row
  .span12
    h2 Available Presentations

ul#presentationContainer

#addPresentationDialog.modal.hide.fade(role="dialog", aria-labelledby="addPresentationDialogLabel", aria-hidden="true")
  form#newPresentation.form-horizontal(action="#")
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Create New Presentation
    .modal-body
      .control-group
        label.control-label(for="name") Name
        .controls
          input#name(type="text", name="name")
      .control-group
        label.control-label(for="description") Description
        .controls
          input#description(type="text", name="description")
    .modal-footer
      a.btn(href='#', data-dismiss='modal') Cancel
      button.btn.btn-primary(type='submit') Create Presentation


#addSlideDialog.modal.hide.fade(role="dialog", aria-labelledby="addSlideDialogLabel", aria-hidden="true")
  form#newSlide.form-vertical(action="#")
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3 Add New Slide
    .modal-body  
      .control-group
        label.control-label(for="markup") Markup
        .controls
          textarea#markup(rows="10", name="markup")
    .modal-footer
      a.btn(href='#', data-dismiss='modal') Cancel
      button.btn.btn-primary(type='submit') Add Slide


#playPresentationDialog.container.modal.hide.fade(role="dialog", aria-labelledby="playPresentationDialogLabel", aria-hidden="true")
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 Play Presentation
  .modal-body      
    #myCarousel.carousel.slide
  .modal-footer
    a.btn(href='#', data-dismiss='modal') Cancel

script#presentationTemplate(type="text/html")
  li.row
    .span3
      #presentationsBox.pptbox
        .presentation
          .title <%= title %>
          .desc <%= description %>
          .control
            a.icon(href="#", title="Remove the presentation")
              i.icon-trash &nbsp;
            a.icon(href="#playPresentationDialog", title="Play the presentation", data-toggle="modal") 
              i.icon-play &nbsp;
            a.icon.plus(href="#", title="Add a slide in presentation", id="addSlideDialogLink<%= id %>", data-ppt-id='<%= id %>') 
              i.icon-plus &nbsp;

    .span9
      .sldbox
        ul.slides

script#slideTemplate(type="text/html")
  li.slide
    h1 Slide
    .control
      a.icon(href="#", title="Remove the presentation")
        i.icon-trash &nbsp;

script#playPresentationTemplate(type="text/html")
  ol.carousel-indicators
    .carousel-inner
      <% _.each(slides,function(item,key){ %>
        .active.item
          div <%= item.description %>
      <% }); %>
    a.carousel-control.left(href='#playPresentationDialog', data-slide='prev') ‹
    a.carousel-control.right(href='#playPresentationDialog', data-slide='next') ›