body {
  background: #ffffff;
}
body .pptbox,
body .sldbox {
  border: solid 1px #ccc;
  background: #eee;
  height: 200px;
  position: relative;
}
body .pptbox .presentation,
body .sldbox .presentation,
body .pptbox .slide,
body .sldbox .slide {
  background: white;
  height: 180px;
  top: 0;
  bottom: 0;
  width: 90%;
  margin: 10px;
  border: solid 1px #aaaaaa;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
body .pptbox .slide,
body .sldbox .slide {
  float: left;
  width: 200px;
}
body .pptbox .slide.plus,
body .sldbox .slide.plus {
  background: url("/images/add.png") no-repeat center center;
  cursor: pointer;
}
body .pptbox .slides,
body .sldbox .slides {
  overflow-x: auto;
  overflow-y: hidden;
}
body .sldbox:before {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  border: solid 30px #eeeeee;
  left: -60px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-top: -30px;
}
