<html ng-app>
<script id="tinyhippos-injected">if (window.top.ripple) {
  window.top.ripple("bootstrap").inject(window, document);
}</script>
<head><title>Presentation index</title>
  <link media="screen" rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link media="screen" rel="stylesheet" type="text/css" href="./css/bootstrap-responsive.css">
  <link media="screen" rel="stylesheet" type="text/css" href="./css/application.css">
  <script src="lib/jquery-1.9.1.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="dbd8e13f356a2d9ac41a6b26e38ee264c70ea52f">
</head>
<body chromeextension-color-pick.com="true">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container"><a href="#" class="brand">Markup Presentation</a></div>
    </div>
  </div>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav navbar-static-top">
          <li><a href="#addPresentationDialog" title="Create a new presentation" data-toggle="modal"> <i
            class="icon-plus"></i>New presentation</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span12"><h2>Available Presentations</h2></div>
    </div>
    <ul id="presentationContainer" ng-controller="ListPresentationsCtrl">
      <li class="row" data-ppt-id="0">
        <div class="span3">
          <div id="presentationsBox" class="pptbox">
            <div class="presentation">
              <div class="title">{{presentation.title}}</div>
              <div class="desc">{{presentation.description}}</div>
              <div class="control"><a href="#" title="Remove the presentation" class="icon trash"><i class="icon-trash">
                &nbsp;</i></a><!-- a.icon(href="#playPresentationDialog", title="Play the presentation", data-toggle="modal") <i class="icon-play">&nbsp;</i>--><a
                href="#" title="Add a slide in presentation" class="icon plus"> <i class="icon-plus">&nbsp;</i></a></div>
            </div>
          </div>
        </div>
        <div class="span9">
          <div class="sldbox">
            <ul class="slides"></ul>
          </div>
        </div>
      </li>
    </ul>
    <div id="addPresentationDialog" role="dialog" aria-labelledby="addPresentationDialogLabel" aria-hidden="true"
         class="modal hide fade" ng-controller="AddNewPresentationCtrl">
      <form id="newPresentation" action="#" class="form-horizontal">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">X</button>
          <h3>Create New Presentation</h3></div>
        <div class="modal-body">
          <div class="control-group"><label for="name" class="control-label">Name</label>

            <div class="controls"><input id="name" type="text" name="name" ng-model="presentation.title"></div>
          </div>
          <div class="control-group"><label for="description" class="control-label">Description</label>
            <div class="controls"><input id="description" type="text" name="description" ng-model="presentation.description"></div>
          </div>
        </div>
        <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Cancel</a>
          <button type="submit" class="btn btn-primary" ng-click="presentation.addNew($event)">Create Presentation</button>
        </div>
      </form>
    </div>
    <div id="addSlideDialog" role="dialog" aria-labelledby="addSlideDialogLabel" aria-hidden="true"
         class="modal hide fade">
      <form id="newSlide" action="#" class="form-vertical">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">?</button>
          <h3>Add New Slide</h3></div>
        <div class="modal-body">
          <div class="control-group"><label for="markup" class="control-label">Markup</label>

            <div class="controls"><textarea id="markup" rows="10" name="markup"></textarea></div>
          </div>
        </div>
        <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Cancel</a>
          <button type="submit" class="btn btn-primary">Add Slide</button>
        </div>
      </form>
    </div>
    <div id="playPresentationDialog" role="dialog" aria-labelledby="playPresentationDialogLabel" aria-hidden="true"
         class="container modal hide fade">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">?</button>
        <h3>Play Presentation</h3></div>
      <div class="modal-body">
        <div id="myCarousel" class="carousel slide"></div>
      </div>
      <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Cancel</a></div>
    </div>
    <script id="presentationTemplate" type="text/html">
      <li class="row">
        <div class="span3">
          <div id="presentationsBox" class="pptbox">
            <div class="presentation">
              <div class="title"><%= title %></div>
              <div class="desc"><%= description %></div>
              <div class="control"><a href="#" title="Remove the presentation" class="icon trash"><i class="icon-trash">
                &nbsp;</i></a><!-- a.icon(href="#playPresentationDialog", title="Play the presentation", data-toggle="modal") <i class="icon-play">&nbsp;</i>--><a
                href="#" title="Add a slide in presentation" class="icon plus"> <i class="icon-plus">&nbsp;</i></a></div>
            </div>
          </div>
        </div>
        <div class="span9">
          <div class="sldbox">
            <ul class="slides"></ul>
          </div>
        </div>
      </li>
    </script>
    <script id="slideTemplate" type="text/html">
      <li class="slide"><h1>Slide</h1>
        <!-- .control<a href="#" title="Remove the presentation" class="icon"><i class="icon-trash">&nbsp;</i></a>--></li>
    </script>
    <script id="playPresentationTemplate" type="text/html">
      <ol class="carousel-indicators">
        <div class="carousel-inner"><% _.each(slides,function(item,key){ %>
          <div class="active item"><%= item.description %></div>
          <% }); %>
        </div>
        <a href="#playPresentationDialog" data-slide="prev" class="carousel-control left">‹</a><a
        href="#playPresentationDialog" data-slide="next" class="carousel-control right">›</a></ol>
    </script>
    <hr>
    <footer><p>@ UI Bootcamp - III (2013)</p></footer>
  </div>
</body>
</html>