@color: white;

body {
    background: @color;
	ul, ol {
      margin: 0px;
      list-style: none;
    }
	.pptbox, .sldbox{
		border: solid 1px #ccc;
		background: #eee;
		height: 200px;
		position: relative;

		.presentation, .slide{
			background: white;
			height: 180px;
			top: 0;
			bottom: 0;
			width: 90%;
			margin: 10px;
			border: solid 1px rgb(170, 170, 170);
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			&:hover{
				.control{
					bottom: 0;
				}
			}
		}
		.presentation{
			position: relative;
			overflow: hidden;
			.title, .desc {
				text-align: center;
			}
			.title{
				font-size: 18px;
				padding-top: 70px;
			}
			.desc{
				font-style: italic;
			}
		}
		.slide{
			display: inline-block;
			position: relative;
			overflow: hidden;
			width: 200px;
            text-align: center;
            box-sizing: border-box;
            padding-top: 10px;
            vertical-align: middle;
			h3{
				font-size: 16px;
				font-weight: normal;
				text-align: center;
				padding-top: 50%;
				line-height: 16px;
				margin-top: -16px;

			}
		}
		.slides{
			white-space: nowrap;
			overflow-x: auto;
		}

	}
	.control {
		position: absolute;
		bottom: -40px;
		border-top: solid 1px rgb(221, 221, 221);
		width: 100%;	
		.icon{
			display: block;
			float: right;
			padding: 5px 10px;
			margin: 5px;
			border-radius: 5px;
			&:hover{
				background: #efefef;
			}
		}
	}
	.sldbox{
		&:before{
			position: absolute;
			top: 50%;
			content: '';
			display: block;
			border: solid 30px rgb(238, 238, 238);
			left: -60px;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-left-color: transparent;
			margin-top: -30px;
		}
	}

	form#newPresentation{
		border: solid 1px rgb(221, 221, 221);
		padding: 10px;
		margin: -21px 10px 0 10px;
		box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2);
		.btn-primary{
			margin-right: 10px;
		}
	}
    #presentationContainer li{
        margin-bottom: 20px;
    }

    .form-vertical textarea {
      width: 95%;
    }

    .container#playPresentationDialog {
      margin-left: -585px;
    }
    .carousel-inner > .item {
      text-align: center;
      padding: 5px 60px;
      min-height: 100px;
    }
}