@color: white;
body{
	background: @color;
}


body{
	.pptbox, .sldbox{
		border: solid 1px #ccc;
		background: #eee;
		height: 200px;
		position: relative;

		.presentation, .slide{
			background: white;
			height: 180px;
			top: 0;
			bottom: 0;
			width: 90%;
			margin: 10px;
			border: solid 1px rgb(170, 170, 170);
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			&:hover{
				.control{
					bottom: 0;
				}
			}
		}
		.presentation{
			position: relative;
			overflow: hidden;
			.title, .desc {
				text-align: center;
			}
			.title{
				font-size: 18px;
				padding-top: 70px;
			}
			.desc{
				font-style: italic;
			}
		}
		.slide{
			display: inline-block;
			position: relative;
			overflow: hidden;
			width: 200px;
			h1{
				font-size: 16px;
				font-weight: normal;
				text-align: center;
				padding-top: 50%;
				line-height: 16px;
				margin-top: -16px;

			}
		}
		.slides{
			white-space: nowrap;
			overflow-x: auto;
		}

	}
	.control {
		position: absolute;
		bottom: -40px;
		border-top: solid 1px rgb(221, 221, 221);
		width: 100%;	
		.icon{
			display: block;
			float: right;
			padding: 5px 10px;
			margin: 5px;
			border-radius: 5px;
			&:hover{
				background: #efefef;
			}
		}
	}
	.sldbox{
		&:before{
			position: absolute;
			top: 50%;
			content: '';
			display: block;
			border: solid 30px rgb(238, 238, 238);
			left: -60px;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-left-color: transparent;
			margin-top: -30px;
		}
	}

	form{
		textarea{
			width: 98%;
		}
	}
	.modal.container{
		margin-left: -585px;
	}
	ul,ol{
		margin: 0;
	}
	li{
		list-style: none;
		&.row{
			margin-bottom: 20px;
		}
	}
}